{% extends "base.html" %}

{% block content %}

<div style="border: 1px solid green; margin-top: 50px; margin-left: 100px; margin-right: 100px;">
<h1 style="text-align: center; padding-top: 30px; padding-bottom: 30px; font-weight: bold;" >What We Do</h1>
<p style="padding-left: 30px;  padding-right: 30px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula laoreet rutrum. Donec sit amet massa vitae nisl iaculis imperdiet. Suspendisse potenti. Fusce a purus velit. Suspendisse interdum ornare turpis et consequat. Proin lacinia imperdiet bibendum. Aenean vel justo maximus, efficitur elit interdum, euismod velit. Integer ut arcu leo. Mauris blandit ante eu sapien aliquam congue. Mauris lacus felis, cursus vitae aliquam at, egestas blandit augue. Nam at nisl tempus, rutrum nisi sit amet, ultrices mi. Quisque posuere consectetur porta.
</p>

<p style="padding-left: 30px; padding-right: 30px;">
    Etiam ac tincidunt urna. Nam eu quam ipsum. Nullam viverra interdum iaculis. Morbi vel purus porta, vulputate turpis eget, scelerisque sem. Vestibulum sed hendrerit diam. Vivamus auctor risus in pretium efficitur. Integer vitae ex faucibus, laoreet sem eu, faucibus enim. Pellentesque dignissim aliquet dui, ac tempor dui varius nec. Sed tempor nibh at risus fermentum, pharetra scelerisque libero egestas. Duis pretium libero et lectus mollis, at viverra lectus pulvinar. Aliquam aliquet augue ac ipsum scelerisque, quis congue massa varius. Donec hendrerit dictum velit, et lacinia augue scelerisque et. Sed eget aliquet erat. Donec tellus mauris, vestibulum vel finibus et, varius ut risus. Nulla nec ornare neque.
</p>

<p style="padding-left: 30px;  padding-right: 30px;">
    Etiam ac quam posuere, eleifend nibh sed, tincidun eros. Cras a pretium lacus, placerat posuere sapien. Ut pretium lectus in dolor auctor ornare. Phasellus nibh justo, rutrum id eleifend vel, pellentesque at arcu. Integer metus elit, consequat vel urna in, aliquam tristique odio. Vivamus in euismod urna. Sed in lectus lectus. Mauris vel vehicula sem. Nunc molestie neque sit amet nulla posuere vulputate. Donec auctor sapien a ante suscipit, sit amet sodales tortor congue. Quisque pharetra est non urna varius euismod. Nullam vel placerat justo, et dapibus ipsum. Donec eget lobortis eros. Sed id elementum felis. Etiam eu consectetur arcu, non mattis ligula. Vivamus eu scelerisque leo.
</p>

<p style="padding-left: 30px;  padding-right: 30px; padding-bottom: 30px">
    Sed ut rhoncus lorem. Aenean blandit mi lacus, vel consectetur urna eleifend ut. Nulla et nulla vitae velit facilisis imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec placerat elit. Phasellus hendrerit at metus eget sodales. Nam a massa orci. Aliquam erat volutpat. Nullam feugiat sed diam eu sagittis. Praesent id hendrerit ipsum. Aliquam commodo, lacus vitae scelerisque scelerisque, tortor urna blandit neque, nec elementum magna risus quis metus. Phasellus id cursus augue. Nunc accumsan, lacus eget gravida venenatis, ligula arcu aliquet lorem, mattis consequat odio tortor in massa. Donec lobortis in libero quis mattis. Mauris fringilla sapien non metus dapibus, eu malesuada erat tempus.
</p>
</div>




{% endblock %}