{% extends "base.html" %}

{% block content %}

{% if not user.is_authenticated %}
<h1 style="text-align: center; padding-top: 30px; padding-bottom: 30px; font-weight: bold;" >Welcome to Bryant's Blog</h1>
{% else %}
<h1 style="text-align: center; padding-top: 30px; padding-bottom: 30px; font-weight: bold;" >Welcome {{user}}</h1>
{% endif %}

{% for a in blog_list %}
    {% include 'blog/list-inline.html' with blog_post=a truncate=True %}
{% endfor %}

{% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
        <div class="col-12 text-center" style="margin-bottom: 20px;">
            <a class="btn btn-primary" href="blog-new/">Add a Blog Post</a>
        </div>
    {% endif %}
{% endif %}

{% endblock %}
