{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="card border-success mb-3 text-center" style=" width:400px; margin: 0 auto;">
  <div class="card-body text-success">  
    <h2 class="card-title">Log In</h2>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit" class="btn btn-success" style="margin-bottom: 20px;">Log In</button>
      </form>
      
      <p style="margin-bottom:2px;">No Account?</p>
      <form action="/accounts/signup/">
        <button class="btn btn-primary">Create Account</button>
      </form>
      
      <p style="margin-top:5px; margin-bottom:2px;">Forgot Password?</p>
      <form action="/accounts/password_reset/">
        <button class="btn btn-danger">Reset Password</button>
      </form>
  </div>
  
</div>
{% endblock %}


<!-- style="margin-top: 100px;" -->