{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<div class="card border-success mb-3 text-center" style=" width:400px; margin: 0 auto;">
    <div class="card-body text-success">  
        <h2 class="card-title">Set a new password!</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Change My Password</button>
            </form>
    </div>
</div>

{% else %}

<div class="card border-success mb-3 text-center" style=" width:400px; margin: 0 auto;">
    <div class="card-body text-success">
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    </div>
</div>

{% endif %}
{% endblock %}